*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(45deg,black,#3a4452);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 1px solid black;
    width:310px;
    box-shadow:1px 3px 15px rgba(113,115,119,0.5);
    border: none;
    padding: 25px;
} 
input{
    width: 100%;
    border: none;
    padding: 20px;
    margin: 10px;
    background-color: transparent;
    text-align: right;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.3);
    color: white;
}
input::placeholder{
    color: white;
}
button{
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.eql-btn{
    background-color: orange;
}
.oper{
    background-color: greenyellow;
}